<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Datos.Properties.Settings.AppDistrI6TOConnectionString"
   connectionString="Data Source=AppDistrI6TO.mssql.somee.com;Initial Catalog=AppDistrI6TO;Persist Security Info=True;User ID=JavierFlores2819_SQLLogin_1;Password=sggjhyzf2k"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>